[submodule "USERFC"]
	path = USERFC
	url = https://github.com/SundaePorkCutlet/userfc.git
[submodule "PRODUCTFC"]
	path = PRODUCTFC
	url = https://github.com/SundaePorkCutlet/productfc.git
[submodule "ORDERFC"]
	path = ORDERFC
	url = https://github.com/SundaePorkCutlet/orderfc
[submodule "PAYMENTFC"]
	path = PAYMENTFC
	url = https://github.com/SundaePorkCutlet/paymentfc.git
